<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Miro</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>miro</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-miro</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Miro One Click Subscribe Content</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>democracy</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-democracy</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Democracy One Click Subscribe Content</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rdf</string>
				<string>rss</string>
				<string>atom</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>check.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/rdf+xml</string>
				<string>application/rss+xml</string>
				<string>application/atom+xml</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Syndicated Content</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TEXT</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>torrent</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-bittorrent</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>BitTorrent Metainfo</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>AVI container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>moov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Apple QuickTime container</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
				<string>3g2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>3GPP Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>asf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Advanced Streaming Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Flash Video Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>webm</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>WebM Video Movie</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gvi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Google Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wmv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>multiplexed MPEG-1/2</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
				<string>m4v</string>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>MPEG-4 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
				<string>ogm</string>
				<string>ogv</string>
				<string>oga</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>OGG Media File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mkv</string>
				<string>mka</string>
				<string>mks</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Matroska File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>MPEG-1 Audio Layer 3</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Audio only MPEG 4</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Windows Media Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mka</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Matroska Audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rmvb</string>
				<string>rm</string>
				<string>ram</string>
				<string>ra</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>RealMedia</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>divx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>DivX Video</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string></string>
			<key>CFBundleTypeName</key>
			<string>Free Lossless Audio Codec</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Miro</string>
	<key>CFBundleGetInfoString</key>
	<string>6.0 (https://github.com/MitchellMcKenna/miro.git - b08dcb92), Copyright (c) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012 Participatory Culture Foundation</string>
	<key>CFBundleIconFile</key>
	<string>Miro.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.participatoryculture.Miro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>af</string>
		<string>ar</string>
		<string>be</string>
		<string>bg</string>
		<string>bn</string>
		<string>br</string>
		<string>bs</string>
		<string>ca</string>
		<string>ckb</string>
		<string>cs</string>
		<string>csb</string>
		<string>cy</string>
		<string>da</string>
		<string>de</string>
		<string>dv</string>
		<string>el</string>
		<string>en_AU</string>
		<string>en_CA</string>
		<string>en_GB</string>
		<string>eo</string>
		<string>es</string>
		<string>et</string>
		<string>eu</string>
		<string>fa</string>
		<string>fi</string>
		<string>fil</string>
		<string>fo</string>
		<string>fr</string>
		<string>fy</string>
		<string>ga</string>
		<string>gl</string>
		<string>gu</string>
		<string>he</string>
		<string>hi</string>
		<string>hr</string>
		<string>hu</string>
		<string>hy</string>
		<string>ia</string>
		<string>id</string>
		<string>is</string>
		<string>it</string>
		<string>ja</string>
		<string>jv</string>
		<string>ka</string>
		<string>kk</string>
		<string>km</string>
		<string>kn</string>
		<string>ko</string>
		<string>ku</string>
		<string>kw</string>
		<string>lb</string>
		<string>lt</string>
		<string>ltg</string>
		<string>lv</string>
		<string>mk</string>
		<string>ml</string>
		<string>mr</string>
		<string>ms</string>
		<string>mt</string>
		<string>nb</string>
		<string>nds</string>
		<string>ne</string>
		<string>nl</string>
		<string>nn</string>
		<string>oc</string>
		<string>pa</string>
		<string>pl</string>
		<string>pt</string>
		<string>pt_BR</string>
		<string>ro</string>
		<string>ru</string>
		<string>si</string>
		<string>sk</string>
		<string>sl</string>
		<string>sq</string>
		<string>sr</string>
		<string>sv</string>
		<string>swch</string>
		<string>ta</string>
		<string>ta_LK</string>
		<string>te</string>
		<string>th</string>
		<string>tl</string>
		<string>tr</string>
		<string>uk</string>
		<string>ur</string>
		<string>vi</string>
		<string>zh_CN</string>
		<string>zh_HK</string>
		<string>zh_TW</string>
		<string>zu</string>
	</array>
	<key>CFBundleName</key>
	<string>Miro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>BitTorrent Magnet URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Miro URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>miro</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Democracy URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>democracy</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>RSS URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>feed</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>HTTP URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>6.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.video</string>
	<key>LSArchitecturePriority</key>
	<array>
		<string>i386</string>
		<string>x86_64</string>
	</array>
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSAppleScriptEnabled</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, Participatory Culture Foundation</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PyExecutableName</key>
	<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/bin/python</string>
	<key>PyMainFileNames</key>
	<array>
		<string>__boot__</string>
	</array>
	<key>PyOptions</key>
	<dict>
		<key>alias</key>
		<false/>
		<key>argv_emulation</key>
		<false/>
		<key>no_chdir</key>
		<false/>
		<key>optimize</key>
		<integer>2</integer>
		<key>prefer_ppc</key>
		<false/>
		<key>site_packages</key>
		<false/>
		<key>use_pythonpath</key>
		<false/>
	</dict>
	<key>PyResourcePackages</key>
	<array>
	</array>
	<key>PyRuntimeLocations</key>
	<array>
		<string>@executable_path/../Frameworks/Python.framework/Versions/2.7/Python</string>
	</array>
	<key>PythonInfoDict</key>
	<dict>
		<key>PythonExecutable</key>
		<string>/Users/davidgn/Downloads/miro/sandbox_20130326/Frameworks/Python.framework/Versions/2.7/bin/python2.7</string>
		<key>PythonLongVersion</key>
		<string>2.7.3 (default, Apr 28 2014, 14:53:13) 
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.11.00)]</string>
		<key>PythonShortVersion</key>
		<string>2.7</string>
		<key>py2app</key>
		<dict>
			<key>alias</key>
			<false/>
			<key>template</key>
			<string>app</string>
			<key>version</key>
			<string>0.6.3</string>
		</dict>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUFeedURL</key>
	<string></string>
	<key>SUScheduledCheckInterval</key>
	<integer>0</integer>
</dict>
</plist>
